
.title {
  cursor: pointer;
}

.title a {
    display: block;
}

li.title:hover {
  background-color: #eee;
}

.panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color: #fff;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}
