@charset "utf-8";

body
  background-color: transparent
  background-repeat: no-repeat
  background-position: 0 0
  background-attachment: fixed 
  background-size: 100% 
  color: color-default
  font: font-size font-sans
  text-rendering: optimizelegibility
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


// Components
@import "_common/components";